 @font-face
{
    font-family: openSansLight;
    src: url("../fonts/open-sans.light.ttf") format("truetype"),
        url("../fonts/open-sans.light.woff") format("woff")
}

*
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    color: white;
    cursor: default;
    margin: 0px;
    padding: 0px;
    font-family: openSansLight;
}

#gameCanvas
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#startMenu
{
    position: absolute;
    top: -100%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.7); 
}

#play
{
    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
    font-size: 48px;
}

#crosshair
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 83px;
    height: 83px;
    margin-left: -41.5px;
    margin-top: -41.5px;
    opacity: 0;
}

#hideInfo
{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
}

.infoPage
{
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.7);
}